# Python
*.pyc
*.pyo

# Sublime
*.sublime-project
*.sublime-workspace

# Xcode
xcuserdata

# MSVC
Debug
Release
ipch
*.suo
*.sdf
*.opensdf
*.ilk
*.pdb
*.dll


# Distribution
bacon/Bacon.dylib
bacon/Bacon.dll
