# Python
*.pyc
*.pyo

# Sublime
*.sublime-project
*.sublime-workspace

# Xcode
xcuserdata

# MSVC
Debug
Release
ipch
*.suo
*.sdf
*.opensdf
*.ilk
*.pdb
*.dll
*.lib
*.exp
*.vcxproj.user
*.sln.cache

# Debug logs
debug.txt

# Distribution
build
dist
bacon.egg-info
*.dylib
MANIFEST

# Built docs
doc/_build

# Auth
scripts/build_auth.*