# Python
*.pyc
*.pyo

# Sublime
*.sublime-project
*.sublime-workspace

# Xcode
xcuserdata

# MSVC
Debug
Release
ipch
*.suo
*.sdf
*.opensdf
*.ilk
*.pdb
*.dll
*.lib
*.exp
*.vcxproj.user

# Debug logs
debug.txt

# Distribution
build
dist
bacon.egg-info
bacon/Bacon.dylib
bacon/Bacon.dll
MANIFEST

# Built docs
doc/_build
